{% extends "layout.html" %}
{% block content %}
    <div class="container d-flex align-items-center h-100">
      <div class="row">
        <header class="text-center col-12">
          <h1>Let us show you the path.</h1><br>
            <p><strong>The solution is ahead of you</strong></p>
          <section class="col-12 d-flex justify-content-center">
            <a href="https://mailchi.mp/816744dab206/start-up" type="button" class="btn btn-light btn-xl">Join</a>
          </section>
        </header>
      </div>
    </div>
{% endblock %}